<h1>Smartest Students From Class</h1>
<ul>
	<li><%= link_to 'Justin Blaisdell', justin_student_path %></li>
	<li><%= link_to 'Michael James', michael_student_path %></li>
	<li><%= link_to 'Yasmin Therese Fazelinia', yasmin_student_path %></li>
</ul>