<h1>Smartest Students From Class</h1>
<ul>
	<li><%= link_to 'Justin', justin_student_path %></li>
	<li><%= link_to 'Michael', michael_student_path %></li>
	<li><%= link_to 'Yasmin', yasmin_student_path %></li>
</ul>